<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- donor_profile.html -->
<h2>Donor Profile</h2>
<p>Username: {{ donor.user.username }}</p>
<p>Address: {{ donor.address }}</p>
<p>Age: {{ donor.age }}</p>
<p>Contact: {{ donor.contact }}</p>
<p>Blood Group: {{ donor.blood_group }}</p>
<a href="{% url 'edit_donor_profile' %}">Edit Profile</a>
<a href="{% url 'donor_dashboard' %}">home</a>

</body>
</html>